#map {
  width: 100%;
  height: 600px;
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

#menu {  
  background: #fff;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}
.mapboxgl-canvas
{
  position: relative !important;
}