<div>
  <div>
    <carousel interval="6000">
      <slide>
        <img [src]="banner1" alt="ASP.NET" class="img-responsive" />
        <div class="carousel-caption">
          <p>
            MOI NOTIFICATION1
            <a class="btn btn-default btn-sm" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409" target="_blank">
              Learn More
            </a>
          </p>
        </div>
      </slide>
      <slide>
        <img [src]="banner2" alt="Visual Studio" class="img-responsive" />
        <div class="carousel-caption">
          <p>
            MOI NOTIFICATION2
            <a class="btn btn-default btn-sm" href="http://angular.io" target="_blank">
              Learn More
            </a>
          </p>
        </div>
      </slide>
      <slide>
        <img [src]="banner3" alt="Package Management" class="img-responsive" />
        <div class="carousel-caption">
          <p>
            MOI NOTIFICATION3
            <a class="btn btn-default btn-sm" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409" target="_blank">
              Learn More
            </a>
          </p>
        </div>
      </slide>
      <slide>
        <img [src]="banner4" alt="Eben Monney" class="img-responsive" />
        <div class="carousel-caption">
          <p>
            MOI NOTIFICATION4
            <a class="btn btn-default btn-sm" href="https://www.ebenmonney.com/about" target="_blank">
              Learn More
            </a>
          </p>
        </div>
      </slide>
    </carousel>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h3>Application uses</h3>
      <ul>
        <li>TRACK VEHICLE</li>
        <li>TRACK DEVICE</li>
        <li>SEE ROUTES DEVICE</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h3>How to</h3>
      <ul>
        <li>TRACK VEHICLE</li>
        <li>TRACK DEVICE</li>
        <li>SEE ROUTES DEVICE</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h3>Overview</h3>
      <ul>
        <li>TRACK VEHICLE</li>
      </ul>
    </div>
  </div>
</div>
