
<div class="form">
  
  <dx-tree-view
      id="selection-treeview"
      [items]="products"
      [width]="320"
      showCheckBoxesMode="normal"
      (onItemSelectionChanged)="selectionChanged($event)"
  >
      
  </dx-tree-view>

</div>

<button class="btn" (click) = "SimulateDevices()" >Simulate Device</button>
<div data-role="rangeslider" style="width:100px;">
  <input type="range" width="50" min="2" max="10" value="1" (input)="RngSlider_Simulate()" id="myRange" #ipt>
</div>
<button class="btn" (click) = "PauseSimulation()" >Pause Simulation</button>

<button (click)="Simulate_By_Route_Device()">Simulate Device By Route</button>
