<div class="container">
  <header class="pageHeader">
    <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
  </header>
  <div [@fadeInOut]>
    <div class="row">
      <div class="col-md-9">
        <h3>Welcome to MOI Asset Tracking System</h3>
        <p>This application helps in management of the application</p>
      </div>
      <div class="col-md-3 contact-us">
        <h4>IMRAN SAY SOMETHING HERE</h4>
      </div>
    </div>

  </div>
</div>
